body{
    background-color: #308f8f;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
h1{
    color: rgb(94, 17, 104);
    animation-duration: 3s;
  animation-name: slidein;

h3{
    color: rgb(56, 26, 5);
}
p {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  /*animation does not work ?*/
  