body{
    font-family: 'Montserrat';
}

#title{
    background-color: #FF4C68;
}

#features{
    background-color: #f5d0d6;
    position: relative;
    z-index: 1;
}


h1 {
    
    font-family: 'Montserrat';
    font-weight: 900;
    color: white;
    font-size: 3.5rem;
    line-height: 1.5;
}
h3{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;

}
p{
    text-align: center;
}

.navbar-brand{
    margin: auto;
    font-weight: 500;
    font-size: 2rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    color: white !important;
    font-size: 1.25rem;
}
.col-lg-6{
    margin: auto;
}

.container-fluid{
    padding: 3% 15%;
}

.icon1{
    margin: auto;
    text-align: center;
    color: #EF8172;
}
.icon1:hover{
    color:#FF4C68
}

#title-img{
  
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    bottom: 3%;

    
}
#features{
    padding: 15% 15%;
    margin: auto;
    position: relative;
    z-index: 1;
}

#testimonials{
   
    background-color: #FF4C68;
 
}
#press{
    background-color: #f5d0d6;
    padding: 8% 5%;
    text-align: center;
}
.presspic{
    
    width: 20%;
    height: 20%;
}
.carousel-item{
    padding: 7% 15%;
    text-align: center;
    margin: auto;
}
h2{
    font-family: Montserrat;
    font-weight: 800;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    height: 10%;
    border-radius: 50%;
  
}
.price{
    padding-bottom: 5%;
    margin: auto;
    text-align: center;
    
}

.cardtitle{
    color: black !important;
}
.cardcont{
    border: 10px;
    color: black !important;
}
#pricing{
    padding-top: 5%;
}
